* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kaushan Script", cursive;
}

/* Navbar */

nav {
    display: flex;
    background-color: rgb(139, 69, 19);
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(133, 81, 44);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(182, 117, 70);
}

/* Responsive Breakpoint*/

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* Responsive Hamburgerpoint */
@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }
}
